<link rel="manifest" href="manifest.webmanifest">
<div class="shop-container">
  <nav class="navbar">
    <div class="logo">RUKIA's <span>BOUTIQUE</span></div>
  </nav>

  <header class="hero">
    <h1>Modern Modesty loading....!</h1>
    <p>Beautiful Abayas,Bags & Hijabs for the classy women.</p>
  </header>

  <div class="bento-container">
    <div class="bento-card" *ngFor="let product of products">
      <img [src]="product.img" [alt]="product.name">
      <h3>{{ product.name }}</h3>
      <p class="price-tag">{{ product.price }}</p>
      
      <button class="whatsapp-btn" (click)="order(product.name)">
        Order on Whatsapp
      </button>
    </div>
  </div>



  <footer class="developer-footer">
     <p>© 2026 Rukia's Boutique </p>
  <div class="footer-content">
    <p>Designed with ❤️ by <strong>Umulkher</strong></p>
    <div class="dev-links">
      <a href="https://github.com/002-umulkher" target="_blank">View Portfolio</a>
      <span class="separator">|</span>
      <a href="https://wa.me/254140863553" class="view-work-btn">WORK WITH ME</a>
    </div>
    <p class="legit-badge">Verified Digital Showroom © 2026</p>
  </div>
</footer>
</div>